@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);

// Authentication Form - Container section
#authentication-form {
	width: 45%;
	margin: 50px auto;
	border: 1px solid #ddd;
}
.form-header {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
.form-header h3 {
	color: #323333;
}
.form-body {
	padding: 35px 0px 15px 0px;
	border-bottom: 1px solid #ddd;
}
.form-footer {
	padding: 20px;
	font-size: 14px;
}
// Foundation Icons

// Forms
.fi-torso {
	font-size: 24px;
}
.fi-lock {
	font-size: 24px;
}
.fi-mail {
	font-size: 24px;
}

// Profile

.profile {
	margin-top: 50px;
}