extends layout

block content
	h3 Node Authentication - Sign Up

	if message.length > 0
		p #{message}
		
	form(method="post", action="/signup")
		.form-group
			label(for="username") Username
			input#username(type="text" name="username" required="required")
		.form-group
			label(for="email") Email
			input#email(type="text" name="email" required="required")
		.form-group
			label(for="password") Password
			input#password(type="password" name="password" required="required")
		button(type="submit") Sign up
	p Already have an account? 
		a(href="/login") Login
	p Or go 
		a(href="/") Home